<h1> You currently have no to do items!</h1>
<p> Why not do something?!</p>

<form action="/" method="post">
  <input type="text" name="item" placeholder="Enter your item here">
  <input type="date"name="dueby" placeholder="What date is your item due by?">
  <input type="text"name="category" placeholder="What category is your item?">
  <input type="submit" placeholder="submit"> 
</form>


<ul>
  {{#each allList}}
  <li><b>Item:</b> {{this.item}}</li>
  <li><b>Due by:</b> {{this.dueby}}</li>
  <li><b>Category:</b> {{this.category}}</li>
  <input type="submit" name="del" placeholder="delete" method="">{{this.delete}}</input>
  
  
</ul>
{{!-- <button method="delete"> DELETE </button>
<button> EDIT </button>
<br>  --}}
 {{/each}}